footer{
    background-color: $base-color;
    
    // border-top: 0.5rem $accent-color solid;
    padding: 1.3rem;
    font-family: $font-header;
    text-align: center;
    vertical-align: center;
    address{
        color: $text-color;
        a {
            text-decoration: underline;
        }
    }
}