.nav{
    padding: 3rem;
    background-color: $base-color;
}

.nav-link{
    font-family: $font-header;
    font-size: 1.25rem;
    font-weight: 600;
    color: $text-color;
    border-bottom: 0.2125rem $text-color solid;
    padding: 0;
    margin: 0.5rem 1rem;
    &:hover{
        color: $accent-color;
        border-bottom: 0.2125rem $accent-color solid;
    }
}

