.post-info{
    display: flex;
    float: inline-start;
}

.post-info-item{
    padding-left: 1%;
    padding-right: 1%;
    margin: 0%;
    margin-bottom: 1%;
}

.post-info-first{
    padding-left: 0;
}