// All variables utilized in css

//----- FONTS -----
// https://fonts.google.com/specimen/Libre+Franklin
@font-face {
	font-family: 'Libre Franklin';
	font-weight: 100 1000;
	font-stretch: 1% 151%;
	src: url('./fonts/LibreFranklin-VariableFont_wght.ttf');
}
// https://fonts.google.com/specimen/IBM+Plex+Sans
@font-face {
	font-family: 'Inter';
	// font-weight: 900;
	src: url('./fonts/inter.ttf');
}

@font-face {
	font-family: 'DM Sans';
	src: url('./fonts/DMSans-Regular.ttf');
}

// header font
$font-header: 'Inter', sans-serif;
// main text font
$font-text: 'DM Sans', sans-serif;

//----- COLORS -----
$accent-color: #4B81FF;
$base-color: #1b1616;
$text-color: #EBEBEB;
