---
layout: base.njk
---
{% include "nav.njk" %}
<div class="row">
    <div class="hero">
        <h1 class="home-title"> Hi, I'm <span>Sachchit</span></h1>
        <h3 class="home-subtitle">I'm an aspiring <span>computer scientist</span> and <span>engineer</span>.</h3>
        <h3 class="home-subtitle">Learn more about my work.</h3>
        {% set navPages = collections.all | eleventyNavigation %}
        {% for entry in navPages %}
            <a type="button" class="home-links" href="{{ entry.url }}">{{ entry.title }}</a>
        {% endfor %}
        <a type="button" class="home-links" href="https://github.com/skunichetty">GitHub</a>
    </div>
</div>