@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 10, 9;
  --background-rgb: 231, 229, 228;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 231, 229, 228;
    --background-rgb: 12, 10, 9;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
