body {
    background-color: $base-color;
}

// Definition of some global styles
h1, h2, h3, h4, h5, h6{
    font-family: $font-header;
    text-decoration: none;
    padding: .5rem 0 0 0;
    color: $text-color;
}

p{
    font-family: $font-text;
    text-decoration: none;
    padding: .5rem 0 0 0;
    color: $text-color;
}

.title{
    font-family: $font-header;
    text-decoration: none;
    padding: .5rem 0 0 0;
}

.container{
    font-family: $font-text;
    font-weight: 400;
}

a{
    color: $text-color;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    &:hover{
        color: $accent-color;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }
}

.row > *{
    // Reset the row style that adds some padding to rows
    padding: 0;
}

.content {
    padding: 0 4rem 0 4rem;
}