.entry-title{
    font-size: 2.5rem;
    font-family: $font-header;
}

.article-body{
    padding-left: 0;
}

.article-title:hover{
    color: $base-color;
    text-decoration: none;
}

figcaption{
    text-align: center;
    font-size: .9rem;
    color:gray;
    margin: 1% 0%;
}

.divider{
    color: $accent-color;
    height: 10%;
    border: 10px $accent-color;
}