.home-title{
    font-size: 4rem;
    font-weight: 900;
}

.home-subtitle{
    font-size: 2rem;
    font-weight: 500;
}

.home-links{
    text-decoration: none;
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: $text-color;
    &:hover{
        color: $accent-color;
        border-bottom: 0.2125rem $accent-color solid;
    }
    border-bottom: 0.2125rem $text-color solid;
}

.hero{
    padding: 4rem;
    text-align: left;
    span{
        color: $accent-color;
    }
    background: linear-gradient(to right, transparent, $accent-color), url("./img/grain.png");
}