<div class="row">
    <ul id="menu" class="nav">
        <li><a class="nav-link" href="/">skunichetty.dev</a></li>
    {% if navEntry == true %}
    {% set navPages = collections.all | eleventyNavigation %}
    {% for entry in  navPages %}
        <li><a class="nav-link" href="{{ entry.url }}">{{ entry.title }}</a></li>
    {% endfor %}
    {% endif %}
    </ul>
</div>